In [2]:
import requests
import json
import pandas as pd

#AREA EXTENT COORDINATE WGS4
lon_min,lat_min=-125.974,30.038
lon_max,lat_max=-68.748,52.214

#REST API QUERY
user_name=''
password=''
url_data='https://'+user_name+':'+password+'@opensky-network.org/api/states/all?'+'lamin='+str(lat_min)+'&lomin='+str(lon_min)+'&lamax='+str(lat_max)+'&lomax='+str(lon_max)
response=requests.get(url_data).json()

#LOAD TO PANDAS DATAFRAME
col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
flight_df=pd.DataFrame(response['states'])
flight_df=flight_df.loc[:,0:16]
flight_df.columns=col_name
flight_df=flight_df.fillna('No Data') #replace NAN with No Data
flight_df.head()

,icao24,callsign,origin_country,time_position,last_contact,long,lat,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,a665ae,IFL511,United States,1677715847,1677715848,-91.5948,32.2204,11582.4,False,187.26,237.79,-0.33,No Data,11971.02,1503,False,0
1,aa8c39,UAL1821,United States,1677715848,1677715848,-103.8063,40.2477,4846.32,False,167.29,268.06,-9.75,No Data,4747.26,No Data,False,0
2,a2e5ec,SKW3942,United States,1677715848,1677715849,-122.3172,47.5560,640.08,False,83.86,180.35,-4.23,No Data,655.32,No Data,False,0
3,aa56da,UAL1842,United States,1677715848,1677715848,-102.8003,40.3998,8534.4,False,202.75,255.75,0.0,No Data,8328.66,No Data,False,0
4,ade191,DAL2164,United States,1677715849,1677715849,-84.3438,33.6203,678.18,False,78.72,270.75,-4.55,No Data,670.56,No Data,False,0